body {
  font-family: "Arial","Meiryo",sans-serif;
}

#use-googlefont {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

html {
  font-size: 20px;
  text-align: center;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: pink;
}

h1 {
  text-shadow: 3px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
  letter-spacing: 1.2em;
}

.fat-font {
  font-weight: bold;
}